body {
  color: white;
  font-family: Roobert,Helvetica Neue,Helvetica,Arial,sans-serif!important;
}

#app {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  overflow-x: hidden;
  background-color: black;
  border: solid 10px;
  border-color: #0e0e10;
}

#container > div {
  padding: 1%;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

 .video-entry:hover {
  border: 10px solid #9147ff;
}

.video {
  margin-top: 5px;
}

.video-image {
  margin-top: 10px;
  width: 18%;
  float: left;
}

.video-title {
  width: 70%;
  float: left;
}

.right.visible {
  position: relative;
  top: 55px;
  opacity: 10;
  height: 60px;
}

.left.visible {
  position: relative;
  top: 55px;
  opacity: 10;
  height: 60px;
}

.right.invisible {
  visibility: hidden;
  position: relative;
  opacity: 10;
  top: 55px;
  height: 60px;
}

.left.invisible {
  visibility: hidden;
  opacity: 10;
  position: relative;
  top: 55px;
  height: 60px;
}

#circle1:hover {
  fill:darkseagreen;
}

#circle2:hover {
  fill: darkseagreen;
}

.custom-select-wrapper {
  margin-left: 15%;
  user-select: none;
  width: 12rem;
  height: 5rem;
  color:white;
}

.custom-select-wrapper.open {
  border-color: #9147ff;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #323234;
  border-radius: 3px;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  height: 35px;
  line-height: 50px;
  background: #323234;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #323234;
  box-sizing: border-box;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #18181b;
  border-top: 0;
  background: #18181b;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open {
  border-color: #9147ff
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 4px 0 4px;
  font-size: 15px;
  font-weight: 300;
  color:white;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #9147ff;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #3a3a3d;
}
.arrow {
  position: relative;
  height: 12px;
  width: 12px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -6px;
  transform: rotate(-45deg);
  background-color: white;
}
.arrow::after {
  left: 2px;
  transform: rotate(45deg);
  background-color: white;
}

